<%- include('../partials/header') %>
<h2><%= title %></h2>
<p>This is the home page of lord Praman</p>
Obama is the best unlike the rest he enjoys chicken breast, dont tempt him or test, he loves the west.
He is a Sentinel who protects with his missiles that will attack you for his starter. His 2nd ability for 200 credits is to hold a moment of silence for a part of the map and enemy team. This essentially deafens the enemy as well as a 25m radius for 8 seconds. 
The third ability he has is to lower prices for the team for 2 rounds (terms). For 850 credits teammates including Obama can buy all weapons from shop for 500 credits less less making a Vandal and Phantom 2300 which can help for eco rounds. Finally his alt is called "Harmony" when ulted a site is ulted (such as a, b, c) the whole site where everyone will not be able to shoot nor use abilities, only knives with speed.
<img src="/images/OBama val.png" alt="You're not worthy enough for an obama phone">
<%- include('../partials/footer') %>
