<%- include('../partials/header') %>
<h2><%= title %></h2>
<p>This is the home page of lord Praman</p>
Praman is a passionate Valorant player who's been placed in ranked Ass2 **Asc2. He has played the game since 2021 and has spent over $2800 on it for skins... the game is free yet he chooses to buy it.
<img src="/images/photo.avif" alt="Only egirls can get boosted">
<%- include('../partials/footer') %>
